<h6>{{signalTitle()}}</h6>
<h6>{{_signalService.price()}}</h6>
<h6>{{_signalService.quantity()}}</h6>
<h6>{{_signalService.total()}}</h6>

<input [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)" placeholder="Search...">
<p>Debounced Search Term: {{ debouncedSearchTerm() }}</p>
<br />
<hr />
<br />

<app-shopping-cart></app-shopping-cart>

<br />
<hr />
<br />

<app-template-driven-form></app-template-driven-form>

<br />
<hr />
<br />

<app-reactive-form></app-reactive-form>

<br />
<hr />
<br />

<app-persian-holidays></app-persian-holidays>